.brushed-metal {
  color: hsla(0, 0%, 20%, 1);
  text-shadow:
    hsla(0, 0%, 40%, 0.5) 0 -1px 0,
    hsla(0, 0%, 100%, 0.6) 0 2px 1px;

  background-image: url("../images/mettalic-textured-background-2500x1250.jpeg");
  background-position: center;
  background-size: auto;

  transition: color 0.2s;
  height: 100vh;
}

.record-player-table {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.lbutton-wrapper {
  margin: 1em 0 0 0;
  .lbutton {
    border: none;
    background: none;
    .lbutton-icon {
      display: block;
      width: 70px;
      height: 70px;
      background: url("../images/botonon.png");
    }
  }
}

.lp-record-wrap {
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    background: url("../images/blue-lp.png");
    background-size: contain;
    content: "";
    display: block;
    width: 100%;
    z-index: 0;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    animation: spin 1.7s linear infinite;
  }
  & > img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    position: absolute;
  }
}

.spinner {
  width: 87px;
  height: 87px;
  animation: spin 1s linear infinite;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner img {
  width: 87px;
  height: 87px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.turntable-right-col {
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 30em;
    height: 100vh;
    position: relative;
    left: -15em;
    top: 3em;
    background: url("../images/agujatocadiscos.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  img {
    position: absolute;
    top: 55%;
    width: auto;
    height: 40%;
  }
  .slider-rail-wrap {
    height: 40vh;
    position: absolute;
    top: 55%;
    width: 89px;
    right: 0;
    background-image: url("../images/slidertocadiscos.png");
    background-size: contain;
  }
  &:after {
    content: "";
    display: block;
    position: relative;
    background: url("../images/BotonSlider.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    width: 89px;
    position: absolute;
    right: 0;
    height: 40vh;
  }
}
